<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"  (click)="weekReportFunc()">Daily/Weekly_Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="userReportFunc()">User_Report<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="fakeReportFunc()">Fake_User_Report</a>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="userReport">
<app-user-report></app-user-report>
</div>
<div *ngIf="weekReport">
  <app-daily-weekly-report></app-daily-weekly-report>
  </div>
  <div *ngIf="fakeReport">
    <app-fake-user-report></app-fake-user-report>
    </div>
